<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="glass-login">

    <h2>🔐 Signup</h2>

    {% if form.errors %}
        <div class="error">
           {{ error }}
        </div>
    {% endif %}

    <form method="post" action="{% url 'student_signup' %}">
        {% csrf_token %}

        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>

        <button type="submit">Sign up</button>
    </form>

    <div class="footer-text">
        Secure access to attendance system
    </div>

</div>
    
</body>
</html>